DerivedDataCache
Intermediate
Saved
Environment_Set
Underground_Bunker
FoliagePackV1
ParagonMorigesh
StarterContent
Geometry
Build
BlackAlder
Light_Foliage
BlackAlder
ghostly_Woods_Sound_2.uasset
S1.umap
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pdb