DerivedDataCache
Intermediate
Saved
FoliagePackV1
ParagonMorigesh
StarterContent
Geometry
Build
BlackAlder
Light_Foliage
BlackAlder
ghostly_Woods_Sound_2.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pdb